<h2> Find Customers:</h2>

    <h4>Total number of records in the database: <%= totRecs %>
    </h4>

    <form action="/sum" method="POST">
        <table>
            <tr>
                <td><label  for="StartNum">StartNum</label>:</td>
                <div >
                <td> <input  type="number" name="StartNum"   /></td>
                <td>(required)</td>
            </tr>
            <tr>
                <td><label for="EndNum">Enter Ending Number</label>:</td>
                <td><input type="number"  /></td>
                <td>(required)</td>
            </tr>
            <tr>
                <td><label for="Increment">Enter Increment</label>:</td>
                <td><input type="number"/></td>
                <td>(require)</td>
            </tr>
        </table>
    </form>



 